body{
    background-color: #bdb8b86c;
}

img{
    display: block;
    margin: 0 auto;
    width: 80%;
}

#image{
    max-width: 100%;
    height: auto;
}

#img-div{
    background-color: #fff;
    padding-bottom: 1px;
    width: 80%;
    margin: 0 auto;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
}

#title{
    margin-top: 30px;
    font-size: 40px;
}

#title, p{
    text-align: center;
}

#img-caption{
    margin-bottom: 40px;
    padding-top: 10px;
}

#wikipedia{
    font-size: 2em;
    font-weight: 700;
}

#wikipedia a{
    color: rgb(37, 37, 136);
}

ul{
    margin: 0 auto;
    width: 50%;
}

li{
    margin-bottom: 1em;
    font-size: 20px;
}

footer{
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    margin-top: 40px;
}

footer a{
    color: #00bcf2;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

@media(max-width: 700px){
     ul {
    margin: 0;        /* remove auto-centering */
    padding: 0 10px;  /* add a little spacing from the edges */
    width: 100%;      /* make it take full width */
    text-align: left; /* align text to the left */
  }

  ul li {
    margin-left: 15px; /* indent a bit for readability */
  }
    #wikipedia{
        font-size: 20px;
    }
    footer{
        bottom: 0;
        left: 0;
        width: 100%;
    }
}